.allPerson {
  padding: 20px;
  min-height: 100vh;
  padding-top: 40px;
  background-color: rgb(18, 18, 18);
}
.infiniteScroll {
  display: flex;
  flex-wrap: wrap;
  direction: rtl;
  justify-content: center;
}
