.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.MuiIconButton-root {
  outline-width: 0 !important;
}
.playlist {
  direction: rtl;
  border-radius: 10px;
  min-width: 450px;
  outline-width: 0;
  background-color: rgb(18, 18, 18) !important;
  box-shadow: 0 5px 15px rgba(173, 173, 173, 0.733);
  z-index: 99999;
}

.playlist .MuiIconButton-label {
  color: whitesmoke;
}
.title {
  /* flex: 0.7; */
  font-family: vazir;
  font-size: 25px;
  font-weight: 900;
  display: flex;
  align-items: center;
}
.playlist__line {
  width: 80%;
  border-top: 1px solid whitesmoke;
  margin-right: 40px;
}
.playlist__lists {
  height: 30vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
.playlist__lists::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.playlist__lists::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px rgba(83, 83, 83, 0.021); */
  border-radius: 10px;
}

/* Handle */
.playlist__lists::-webkit-scrollbar-thumb {
  background: rgba(105, 104, 109, 0.685);
  border-radius: 10px;
}

/* Handle on hover */
.playlist__lists::-webkit-scrollbar-thumb:hover {
  background: rgb(63, 63, 63);
}
.addBtn {
  cursor: pointer;
  border: 1px solid whitesmoke;
  padding: 5px;
  background-color: rgb(34, 34, 34);
  border-radius: 10px;
  color: white;
  transition: 0.25s ease-in-out;
}
.addBtn svg {
  color: white;
  font-size: 17px;
}
.addBtn:hover {
  background-color: rgb(77, 77, 77);
}

.center__input_dialog__div {
  display: grid;
  /* direction: rtl; */
}
.center__input_dialog__div__warn {
  color: red;
  text-align: end;
  font-size: 10px;
  margin-top: 5px;
}
.center__input_dialog__input {
  outline-width: 0;
  border: 0;
  border-radius: 10px;
  padding: 5px 15px;
}
.center__input_dialog__btn {
  border: 1px solid white;
  border-radius: 10px;
  padding: 5px 10px;
  color: whitesmoke;
  cursor: pointer;
}
.center__input_dialog__btn:hover {
  background: rgb(97, 97, 99);
}
@media (max-width: 768px) {
  .playlist {
    min-width: 350px;
  }

  .title {
    font-size: 14px;
  }
  .playlist__lists::-webkit-scrollbar {
    width: 5px;
  }
}
