.header {
  padding: 20px 0;
  z-index: 12;
  background-color: rgb(34, 35, 39);
  direction: rtl;
  box-shadow: 0 5px 15px rgba(173, 173, 173, 0.733);
}

.headerItems {
  display: flex;
  justify-content: space-between;
}

.headerItemsRight {
  align-self: center;
  display: flex;
  margin-right: 10px;
}
.headerItemsRight ul {
  display: flex;
  padding: 0 !important;
  list-style: none;
}
.headerItemsRight li {
  display: flex;
  margin-right: 15px;
  color: white;
  float: right;
  font-weight: 900;
  cursor: pointer;
  font-size: 22px;
  transition: transform 450ms ease-out;
}
.headerItemsRight li:hover {
  text-decoration: none;
  color: rgb(185, 184, 184);
  transform: scale(1.08);
  opacity: 0.8;
}
.headerItemsRight a {
  display: flex;
  margin-right: 15px;
  margin-left: 15px;
  color: white;
  float: right;
  font-weight: 900;
  font-size: 22px;
  transition: transform 450ms ease-out;
  text-decoration: none;
}

.headerItemsRight a:hover {
  text-decoration: none;
  color: rgb(185, 184, 184);
  text-decoration: none;
  transform: scale(1.08);
  opacity: 0.8;
}
.headerItemsLeft {
  margin-left: 10px;
}

.dropdownBtn {
  background-color: rgb(18, 18, 18) !important;
  border: 1px solid whitesmoke !important;
  padding-right: 10px;
}
.dropdownBtn::after {
  display: none;
}
.dropdownBtn:focus {
  box-shadow: 0 0 0 0.25rem rgba(205, 231, 231, 0.5) !important;
}

.dropdownMenu {
  background-color: rgb(34, 35, 39) !important;
  color: white !important;
  box-shadow: 0 5px 15px rgb(173 173 173 / 73%);
  opacity: 1;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.dropdownItem {
  color: white !important;
  display: flex;
  justify-content: space-between;
  padding-right: 7px !important;
  padding-left: 5px !important;
}

.dropdownItem:hover {
  background-color: rgba(40, 45, 65, 0.692) !important;
}
.registerBtn {
  font-size: 15px;
  margin-left: 15px;
  color: white;
}

.registerBtn:hover {
  color: #cbd3da !important;
  cursor: pointer;
}
@media (max-width: 768px) {
  .header {
    display: none;
  }
  .headeroom {
    display: none;
  }
}
