.moreSong {
}
.moreSong__infiniteScroll__section {
  min-height: 100vh;
}
.moreSong__items {
  padding: 0 10px 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.moreSong .infiniteScroll {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10px;
}
@media (max-width: 768px) {
  .moreSong {
    padding-bottom: 110px;
  }
}
