.personItem {
  display: grid;
  margin: 20px;
  justify-content: center;
  align-self: center;
  /* height: 200px; */
}
.personItem img {
  height: 100px;
  width: 100px;
  cursor: pointer;

  /* border-radius: 100px;   */
}
.personItem__person {
  text-decoration: none;
  font-size: 13px;
  color: #757575;
  font-weight: 900;
  transition: transform 450ms ease-in-out;
  font-size: 11px;
}
.personItem__person:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.personItem a:hover {
  text-decoration: none !important;
}
.personItem img {
  justify-self: center;
}

@media (max-width: 768px) {
  .personItem img {
    height: 90px;
    width: 90px;
  }
}
