.rowItem {
  /* width: 10%; */
  height: 224px;
  margin-right: 5px;
  border-radius: 5px;
  margin-left: 5px;
  overflow: hidden;
  transition: transform 450ms;
  transform: scale(1);
  margin-bottom: 10px;
}
.rowItemImgSection {
  width: 150px;
  height: 152px;
  position: relative;
  z-index: -1;
}
.rowItem__info {
  width: 150px;
}
.rowItem:hover {
  cursor: context-menu;
  transform: scale(1.04);
  opacity: 0.8;
}
/* .rowItem__image {
  height: 152px;
} */
.rowItem__image__img {
  width: 100% !important;
  height: 100% !important;
  border-radius: 5px;
}
.play__music {
  position: absolute;
  bottom: 40%;
  justify-content: center;
  display: flex;
  width: 100%;
}
.play__music svg {
  color: white;
  font-size: 110px;
  opacity: 0.7;
  cursor: pointer;
  background: none;
}
.play__music svg path {
}
.rowItem__title {
  cursor: pointer;
  font-weight: 900;
  color: white;
  margin: 0;
  padding: 10px;
  display: flex;
  transition: transform 450ms ease-in-out;
  justify-content: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.steady__rowItem__title {
  display: block;
  padding: 2px 5px;
  overflow: hidden;
  direction: rtl;
  font-size: 13px;
  margin-bottom: 10px;
}
.scroll__rowItem__title {
  display: none;
  padding: 2px 5px;
  overflow: hidden;
  direction: rtl;
  font-size: 13px;
  margin-bottom: 10px;
}
/* .rowItem__title:hover {
  color: rgb(161, 161, 161); */
/* transform: rotate(-15deg) scale(1.03);
  transform: scale(1.1);
} */
.rowItem__person {
  cursor: pointer;
  font-size: 9px;
  font-weight: 900;
  color: #a19f9f;
  margin: 0;
  display: flex;
  transition: transform 450ms ease-in-out;
  justify-content: center;
}

.rowItem__person:hover {
  transform: scale(1.1);
  color: #fcfcfc;
}

.liner1,
.liner2,
.liner3,
.liner4 {
  overflow: hidden;
  transition: 0.5s;
}

.liner1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, transparent, gray);
  animation: animate1 2s linear infinite;
}

@keyframes animate1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
.liner2 {
  position: absolute;
  top: 0;
  right: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(to bottom, transparent, gray);
  animation: animate2 2s linear infinite;
  animation-delay: 1s;
}

@keyframes animate2 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}
.liner3 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to left, transparent, gray);
  animation: animate3 2s linear infinite;
}

@keyframes animate3 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.liner4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(to top, transparent, gray);
  animation: animate4 2s linear infinite;
  animation-delay: 1s;
}

@keyframes animate4 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}

.rowItemSpinnerLoading {
  position: absolute;
  top: 15%;
  left: 15%;
}
.rowItem:hover .scroll__rowItem__title {
  display: block;

  animation: animate__rowItem__title 4s linear infinite;
}
.rowItem:hover .steady__rowItem__title {
  display: none;
}
@keyframes animate__rowItem__title {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@media (max-width: 768px) {
  .rowItemImgSection {
    height: 115px;
    width: 115px;
  }
  .rowItem__info {
    width: 115px;
  }
  .rowItem {
    height: 175px;
  }

  .rowItem__image {
    height: 114px;
  }
  .rowItem__image__img {
    width: 100%;
    height: 114px;
    border-radius: 5px;
  }

  .rowItem__title {
    margin: 0;
    font-size: 12px;
    padding-bottom: 0;
  }
  .rowItem__person {
    margin: 0;
    font-size: 9px;
  }
  .play__music svg {
    font-size: 100px;
  }
  .rowItemSpinnerLoading {
    top: 0%;
    left: 5%;
  }
}
