.rowItem {
  width: 16.1%;
  height: 378px;
  margin-right: 5px;
  border-radius: 5px;
  margin-left: 5px;
  min-width: 240px;
  transition: transform 450ms;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
}
.rowItem:hover {
  cursor: context-menu;
  transform: scale(1.04);
  opacity: 0.8;
}
.rowItem__image {
  height: 251px;
}
.rowItem__image__img {
  width: 100%;
  height: 250px;
  border-radius: 7px;
}
.play__music {
  position: relative;
  bottom: 85%;
  background: none;
  display: flex;
  justify-content: center;
}
.play__music svg {
  color: white;
  font-size: 165px;
  opacity: 0.7;
  cursor: pointer;
  background: none;
}
.play__music svg path {
}
.rowItem__title {
  cursor: pointer;
  font-size: 20px;
  font-weight: 900;
  line-height: 28px;
  color: white;
  margin-top: 10px;
  padding: 10px;
  display: flex;
  transition: transform 450ms ease-in-out;
  justify-content: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.rowItem__title:hover {
  /* color: rgb(161, 161, 161); */
  /* transform: rotate(-15deg) scale(1.03); */
  transform: scale(1.1);
}
.rowItem__person {
  cursor: pointer;
  font-size: 13px;
  font-weight: 900;
  line-height: 28px;
  color: #757575;
  margin-top: 10px;
  display: flex;
  transition: transform 450ms ease-in-out;
  justify-content: center;
}

.rowItem__person:hover {
  transform: scale(1.1);
  /* color: rgba(243, 243, 243, 0.726); */
  /* font-size: 20px; */
}

.rowItem span {
  overflow: hidden;
  transition: 0.5s;
}

.rowItem span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, transparent, gray);
  animation: animate1 2s linear infinite;
}

@keyframes animate1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
.rowItem span:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(to bottom, transparent, gray);
  animation: animate2 2s linear infinite;
  animation-delay: 1s;
}

@keyframes animate2 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}
.rowItem span:nth-child(3) {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to left, transparent, gray);
  animation: animate3 2s linear infinite;
}

@keyframes animate3 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.rowItem span:nth-child(4) {
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(to top, transparent, gray);
  animation: animate4 2s linear infinite;
  animation-delay: 1s;
}

@keyframes animate4 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}

@media (max-width: 768px) {
  .rowItem__title {
    margin: 0;
    padding-bottom: 0;
  }
  .rowItem__person {
    margin: 0;
  }
}
