.rowlist {
  /* margin-top: 20px; */
  background-color: rgb(18, 18, 18);
}
/* .rowlistSlider {
  direction: rtl;
  height: 400px;
  padding-top: 10px;
} */

.carousel {
  outline-width: 0px;
  height: 250px;
  padding-bottom: 20px;
  padding-top: 10px;
  background-color: rgb(18, 18, 18);
}
.rowList__title {
  direction: rtl;
}
.rowList__title__title {
  padding-top: 10px;
  cursor: pointer;
  padding-right: 5px;
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 10px;
  color: whitesmoke;
}
.moreSong {
  color: rgb(103, 94, 165);
  font-size: 15px;
  text-decoration: none;
  cursor: pointer;
  align-self: center;
}

@media (max-width: 768px) {
  .rowlist {
    margin-top: 5px;
    margin-bottom: 10px;
  }
  .carousel {
    height: 185px;
  }
  .rowList__title__title {
    font-size: 19px;
  }
  .moreSong {
    margin-left: 10px;
    font-size: 13px;
  }
  .rowList__title {
    justify-content: space-between;
  }
  .top__radius {
    position: sticky;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    /* margin-top: -25px; if banner exist uncomment this */
  }
}
